html, body {
margin: 0;
max-width: 100%;
height: 100%;
overflow: hidden;
}
main {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
}
section {
position: relative;
height: 100%;
align-items: center;
justify-content: center;
box-sizing: border-box;
text-align: center;
flex: 1;
}
.cont_title {
position: relative;
margin: auto;
width: 100%;
height: 300px;
text-align: center;
margin-top: 5vh;
}
.cont_title h2 {
text-transform: uppercase;
font-size: 3.5vw;
margin: 0;
vertical-align: middle;
}
.cont_title h3 {
text-transform: uppercase;
font-size: 1.3vw;
}
.cont_desc {
position: relative;
display: block;
text-align: center;
width: 100%;
height: auto;
margin: auto;
padding: 30px 15%;
box-sizing: border-box;
}
.cont_desc p {
margin: 0;
font-size: 20px;
}
section:hover {
transition: flex 0.4s;
}
section:hover > .cont_title h2 {
transition: font-size 0.4s;
}
section:hover > .cont_title h3 {
transition: all 0.4s;
}
.cont_desc {
}
section:hover > .cont_desc {
transition-delay: 0.5s;
transition: opacity 0.8s;
}
section {
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.homer {
background-image: url("pic1.jpg");
}
.marge {
background-image: url("pic2.jpg");
}   
    
.bart {
background-image: url("pic3.jpg");
}
.lisa {
background-image: url("pic4.jpg");
}
.maggie {
background-image: url("pic5.jpg");
}    

.cont_title h2 {
font-family: 'Roboto Condensed', sans-serif;
color: #FFD90F;
text-shadow: 1px 2px 5px rgba(11,118,224, 0.5);
}
.cont_title h3 {
font-family: 'Roboto Condensed', sans-serif;
color: #0B76E0;
text-shadow: 1px 2px 5px rgba(255,217,15, 0.5);
}
.cont_desc p {
font-family: 'Roboto Condensed', sans-serif;
color: #000000;
}
.cont_desc {
background-color: rgba(255,217,15, 0.8);
}
main:hover > section {
filter: brightness(22%);
}
main:hover > section:hover {
filter: brightness(100%);
}
section {
transition: all 0.4s;
}